<form method="post" action="{{ routes.cart_add_url }}" class="quick-add" data-quick-add>
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
  <button class="btn btn--secondary" type="submit">Add to cart</button>
</form>
